{
  "extends": [
    "./dev/tests/static/testsuite/Magento/Test/Js/_files/eslint/.eslintrc-magento"
  ],
  "plugins": [
    "babel"
  ],
  "parserOptions": {
    "sourceType": "script"
  },
  "env": {
    "node": false,
    "es6": true,
    "browser": true
  },
  "rules": {
    "strict": 0,
    "no-unused-vars": 0,
    "no-console": "off"
  }
}