{
  "plugins": [
    "babel"
  ],
  "parserOptions": {
    "sourceType": "script"
  },
  "env": {
    "node": false,
    "es6": true,
    "browser": true
  },
  "rules": {
    "strict": 0,
    "no-unused-vars": 0,
    "no-console": "off"
  }
}