{
    "extends": [
        "airbnb-base"
    ],
    "plugins": [
        "babel"
    ],
    "parserOptions": {
        "sourceType": "module"
    },
    "env": {
        "node": true,
        "es6": true,
        "browser": false
    },
    "rules": {
        "strict": 0,
        "no-unused-vars": 0,
        "no-shadow": 0,
        "no-console": "off",
        "max-len": ["warn", {
            "code": 120
        }],
        "indent": [
            "error",
            4
        ],
        "comma-dangle": "off"
    }
}
